<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Document</title>
</head>

<body>
    {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}");
    </script>
    {%endif%}
    {%endwith%}
    <div class="form">
        <div class="form-toggle"></div>
        <div class="form-panel one">
            <div class="form-header">
                <h1>Register Account</h1>
            </div>
            <div class="form-content">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input id="cpassword" type="password" name="cpassword" required="required" onkeyup='check();' />
                    </div>
                    <span id="passwordconfirm"></span>
                    <div class="form-group">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function check() {
            var p1 = document.getElementById('password').value;
            var p2 = document.getElementById('cpassword').value;
            if (p1 != p2) {
                document.getElementById('passwordconfirm').style.color = 'red';
                document.getElementById('passwordconfirm').innerHTML = '비밀번호가 일치하지 않습니다.';
            } else {
                document.getElementById('passwordconfirm').style.color = 'green';
                document.getElementById('passwordconfirm').innerHTML = '비밀번호가 일치합니다.';
            }
        }
    </script>

</body>

</html>